.about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  // - Container
  &__container {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  // - CV
  &__cv {
    color: #8ee26b;
    float: left;
  }

  // - Item
  &__item {
    width: 100%;
    background-color: var(--color-bg-light);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1000px) {
      flex-direction: column;

      p {
        text-align: center;
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: row;
    }

    h3 {
      color: white;
      font-family: inherit;
      text-transform: uppercase;
      text-align: left;
    }

    img {
      width: 6rem;
      margin: 2rem;
    }

    p {
      color: white;
      font-size: 1rem;
      font-family: var(--font-secondary);
      text-align: left;
    }
  }
}

// - Download icon

.download-icon {
  animation: download-anim 1.5s infinite reverse;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.download-icon:hover {
  transform: scale(1.1);
  animation: none;
}

@keyframes download-anim {
  50% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.8rem rgba(143, 226, 107, 0.205));
  }
}
