.landing {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/img/bg.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__container {
    @media screen and (max-width: 1480px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  // - Subtitle
  &__subtitle {
    color: white;
    font-size: 4rem;
    font-family: var(--font-primary);
    text-transform: uppercase;
  }

  // - Links
  &__links {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        width: 100%;
      }
    }
  }
}

// - Animations
.name {
  opacity: 0;
  animation: name-anim 1s forwards;
}

.position {
  opacity: 0;
  animation: link-anim 1s forwards;
  animation-delay: 0.2s;
}

.link-1 {
  opacity: 0;
  animation: link-anim 1s forwards;
  animation-delay: 0.4s;
}

.link-2 {
  opacity: 0;
  animation: link-anim 1s forwards;
  animation-delay: 0.6s;
}

@keyframes name-anim {
  from {
    transform: translateY(-4rem);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes link-anim {
  from {
    transform: translateY(2rem);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
