.project {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;

  // - Slider
  &__slider {
    position: fixed;
    left: 10rem;
    width: calc(50% - 10rem);

    @media screen and (max-width: 1080px) {
      left: 5rem;
    }

    @media screen and (max-width: 968px) {
      position: relative;
      width: 100%;
      left: 0;
    }
  }

  // - Description
  &__description {
    width: 45%;
    align-self: flex-end;
    color: white;
    float: right;
    font-size: 1rem;
    margin-bottom: 6rem;

    @media screen and (max-width: 1080px) {
      width: 50%;
    }

    @media screen and (max-width: 968px) {
      margin: 2rem 0 5rem 0;
      width: 100%;
    }
  }

  // - Title
  &__title-name {
    margin-bottom: 1rem;

    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }

  &__links {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  .heading-4 {
    margin-top: 3rem;
  }

  // &__stack {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-gap: 2rem;

  // @media screen and (max-width: 1200px) {
  //   grid-template-columns: 1fr;
  //   grid-gap: 0.5rem;
  // }
  // }

  &__stack-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    img {
      width: 2rem;
      height: 2rem;
      margin-right: 2rem;
    }
  }

  ul {
    li {
      list-style-type: none;

      @media screen and (max-width: 1200px) {
        margin-bottom: 1rem;
      }
    }
  }
}
