.skills {
  min-height: 100vh;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__title {
    grid-column: 1 / -1;
    text-align: center;
  }

  &__item {
    width: 12rem;

    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    border: 1px solid transparent;

    @media screen and (max-width: 400px) {
      width: 12rem;
    }
  }

  &__item:hover {
    transform: scale(1.1);
    border: 1px solid white;
  }

  &__icon {
    width: 3.5rem;
    height: 3.5rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(111deg)
      brightness(108%) contrast(103%);

    &--sm {
      width: 3rem;
      height: 3rem;
    }
  }

  &__text {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    text-align: center;
    margin-top: 1.6rem;
  }
}
