@import url("https://fonts.googleapis.com/css2?family=Basic&family=Cairo:wght@300;400&family=Raleway:wght@900&display=swap");

:root {
  //- FONTS
  --font-primary: "Raleway", sans-serif;
  // --font-primary: "Basic", sans-serif;
  --font-secondary: "Cairo", sans-serif;

  // - COLORS
  --color-bg-dark: #111111;
  // --color-bg-light: #181818;
  --color-bg-light: #232323;
  --color-bg-light-2: #282828;
}
